# Allow
# Circuit
!*.pro
!*.lib
!*.kicad_pcb
!*.kicad_sch
# Output
!*.drl
!*.gbr
!*.gbrjob
# Other
!*.md
# Deny
*.ses
*.net
*.dcm
*.log
*.zip
*.rules
*.sch-bak
*-rescue.lib
*.kicad_pcb-bak
fp-info-cache
sym-lib-table
# Mbed
.mbedbuild
cmake_build/
BUILD/
mbed-os/
.mbed
*.png
CMakeLists.txt
mbed-os.lib